.trolley-heading {
  position: relative;
  background-color: brown;
  border-radius: 5px;
  padding: 8px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}
.small{
  margin:0 0 -20px;
}

.setPosition {
  position: relative;
  top: 36px;

}

.trolley-content {
  background-color: white;
  border-radius: 5px;
  padding-top: 34px;
}

.trolley-content input[type="text"], select {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
select{
  padding: 6px 12px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

.trolley-content label {
  font-weight: bold;
  color: rgb(64, 64, 64);
}

.trolley-content input,
label,
button, option {
  font-size: 13px;
}
option{
  text-transform: capitalize;
}

.form-addnewtrolley {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  margin: 20px 10px 10px 10px;
  padding: 30px 50px 30px 50px;
}

.save-button {
  background-color: brown;
  /* transition: all ease 0.2s; */
  /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */
}
.btn:hover{
  transform: translateY(-2px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.btn {
  width: 90px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all ease 0.2s;
}

.btn a {
  text-decoration: none;
  color: white;
}

.qrcode {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  padding: 4px;
}
p{
  text-align: center;
  width:220px;
}

.qrcode img {
  margin-left: 20px;
  height:70px;
  width:70px;
}

.form-rows {
  margin-top: 15px;
}
.choosefile {
  appearance: none;
  cursor: default;
  width: 205px;
}
.resize-content{
  margin-left: 65px;
}
.resize-inside-content{
  margin-left: 136px;
}
.qrgeneratebutton{
  border: 1px solid brown;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  
}
#selectcolor{
  margin: 0px 10px 0px 0px;
}

input{
  max-width: 200px;
}

.colorSpan{
  height: 10px;
  width: 10px;
}